.container {
  display: flex;
  justify-content: center;
}

.profileCenter {
  display: flex;
  justify-content: center;
  width: 90vw;
  max-width: 1170px;
  margin-top: 50px;
}

.profileDetail {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  padding: 1rem;
}

.profileDetail .detailHeader{
  margin-bottom: 20px;
}

.profileDetail p{
  margin-bottom: 5px;
}